
<style>
    table, tr, td, th {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
    }
</style>
<h2>The list of users</h2>
<body data-ng-app="APIModule">
    <div id="tblSubs" ng-controller="APIController">
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Last Name</th>
            </tr>
            <tbody data-ng-repeat="sub in subscriber">
                <tr>
                    <td >{{sub.Id}}</td>
                    <td ng-blur="updSubscriber(sub,$event)" ng-dblclick="makeEditable($event)">{{sub.Name}}</td>
                    <td>{{sub.LastName}}</td>
                    <td> <input type="button" id="Delete" value="Delete" data-ng-click="dltSubscriber(sub.Id)" /> </td>  
                </tr>
            </tbody>
        </table>
        <div class="form-group">
            <label for="name">Sbscribe here</label>
            <input type="text" class="form-control" id="Name" placeholder="Enter name" [required="string" ] data-ng-model="Name" />
            <input type="text" class="form-control" id="LastName" placeholder="Enter Last name" [required="string" ] data-ng-model="LastName" />
        </div>
        <button type="button" class="btn btn-default" data-ng-click="saveSubs();">Submit</button>
    </div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
<script src="~/Scripts/APIScripts/Module.js"></script>
<script src="~/Scripts/APIScripts/Service.js"></script>
<script src="~/Scripts/APIScripts/Controller.js"></script>   