@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TEst University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to My University</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque faucibus sem ac tellus lobortis, et sagittis velit sagittis. Duis hendrerit dapibus velit eu tempor.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build it from scratch</h2>
        <p>      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque faucibus sem ac tellus lobortis, et sagittis velit sagittis. Duis hendrerit dapibus velit eu tempor.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Another column</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque faucibus sem ac tellus lobortis, et sagittis velit sagittis. Duis hendrerit dapibus velit eu tempor.</p>
       
    </div>
</div>